@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Dela+Gothic+One&family=Montserrat:wght@400;700&display=swap');

:root {
  line-height: 1;
  font-family: "Afacad Flux", serif;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --this-month-font-size: 12rem;
  --this-year-font-size: 6rem;
  --small-day-font-size: 1.5rem;
  --main-day-font-size: 4rem;
  --main-day-sub-font-size: 1.5rem;
  --main-date-font-size: 7rem;
  --main-other-font-size: 6rem;
  --memo-title-font-size: 1.5rem;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 1024px) {
  :root {
    --this-month-font-size: 8rem;
    --this-year-font-size: 3rem;
    --small-day-font-size: 1rem;
    --main-day-font-size: 2rem;
    --main-day-sub-font-size: 1rem;
    --main-date-font-size: 4rem;
    --main-other-font-size: 3rem;
    --memo-title-font-size: 1rem;
  }
}

@media (max-width: 600px) {
  :root {
    --this-month-font-size: 6rem;
    --this-year-font-size: 2rem;
    --main-day-font-size: 1.5rem;
    --main-day-sub-font-size: 0.75rem;
    --main-date-font-size: 3rem;
    --main-other-font-size: 2rem;
  }
}

@media (max-width: 400px) {
  :root {
    --this-month-font-size: 5rem;
    --this-year-font-size: 1.5rem;
    --main-day-font-size: 1.2rem;
    --main-day-sub-font-size: 0.75rem;
    --main-date-font-size: 2rem;
    --main-other-font-size: 1.5rem;
  }
}
